
{% extends "links/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Add Link{% endblock meta_title %}

{% block title %}Add Link{% endblock title %}

{% block body_stuff %}

<h3>There will be form</h3>

  <div class="form-group">   
	  <label class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
	      <input type="submit" value="Add" name="add_button"
	               class="btn btn-primary" />
	      <button type="submit" name="cancel_button" 
	                class="btn btn-link">Cancel</button>
	    </div>
  </div>

{% endblock body_stuff %}