
{% extends "links/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Add Your Link{% endblock meta_title %}

{% block title %}Add Your Link{% endblock title %}

{% block add_button %}
{% endblock add_button %}

{% block search %}  
{% endblock search %}

        {% block status_message %}
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-warning">
                         {{ message }}
                      </div>
                    {% endfor %}
                   {% endif %}
        {% endblock status_message %}

{% block body_stuff %}

    {% crispy form %}

{% endblock body_stuff %}
<!--
<h3>There will be form</h3>
 -->
