
{% extends "links/base.html" %}

{% load static from staticfiles %}  

{% block meta_title %}List useful links
{% endblock meta_title %}

{% block title %}List useful links
{% endblock title %}

                <!-- Start Links Listing -->


{% block body_stuff %}


  <div class="col-xs-9">

        <div class="col-xs-12">
          <h2>Resources</h2>
        </div>

{% for resource in resources %}

        <div class="row">
          <div class="col-xs-12 ">
          <hr>
            <h3 class="left130"><a href="{% url 'view_link' resource.id %}">{{ resource.title }}</a></h3>
          </div>
          <div class="row">
<!--            column-left-->
            <div class="col-xs-2 left-col">
              <div>
                <a  href="#">{{ resource.votes_pros }}</a>
              </div>
              <div class="counter">
                {{ forloop.counter }}
              </div>
              <div>
                <a href="#">{{ resource.votes_cons }}</a>
              </div>   
            </div>
<!--            column-right-->
            <div class="col-xs-10">
              <div class="description">
                {{ resource.description }}
              </div>
              <div class="col-xs-4 date">
                {{ resource.time_was_add }}
              </div>
              <div class="col-xs-8 right-align">
                <a  href="{{ resource.link }}" target="_blank" title="{{ resource.link }}" >{{ resource.link }}</a>
              </div>

            </div>
<!--            border end-->
          </div>
            
        </div>      
{% endfor %}
  </div>
   
<!-- 
        {# <td class="blue" colspan="2" ><a href="{% url 'view_link' resource.id %}"> #}

   
           <td>
            </td>
            <td>
            </td>
            {# <td>{{ resource.time_was_add }} #}
            </td>
-->            


  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Top 5 resources</h3>
      </div>
      <div class="panel-body">
      {% for top in top5 %}
        <ul>
         {# <!--<li ><a href="{{ top.link }}" target="_blank" </a>{{ top }}</li>--> #}
         <li><a href="{{ top.link }}" target="_blank" >{{ top }} </a></li>
        </ul>
      {% endfor %}
      </div>
    </div>  
  </div>



{% endblock body_stuff %}


