
{% extends "links/base.html" %}

{% load static from staticfiles %}  

{% block meta_title %}List useful links
{% endblock meta_title %}

{% block title %}List useful links
{% endblock title %}

                <!-- Start Links Listing -->


{% block body_stuff %}
    
  <div class="col-xs-9">
      <table class="table table-hover table-striped">
        <thead>
            <tr>
              <th>№
              </th>

              <th class="col-xs-2"><a href="#"</a>Title
              </th>

              <th ><a href="#"</a>Link
              </th>

              <th class="col-xs-5">Desription
              </th>

              <th class="col-xs-2"><a href="#"</a>Add time
              </th>
              <th class="col-xs-1"><a href="#"</a>Cons
              </th>
              <th class="col-xs-1"><a href="#"</a>Pros
              </th>

            </tr>
        </thead>

        <tbody>

{% for resource in resources %}

          <tr>
            <td>{{ forloop.counter }}
            </td>
            <td><a href="#"</a>{{ resource.title }}
            </td>
            <td><a href="#"</a>{{ resource.link }}
            </td>
            <td><a href="#"</a>{{ resource.description }}
            </td>
            <td>{{ resource.time_was_add }}
            </td>
            <td><a href="#"</a>{{ resource.votes_pros }}
            </td>
            <td><a href="#"</a>{{ resource.votes_cons }}
            </td>
            
          </tr>

{% endfor %}
        </tbody>

      </table>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Top 5 resources</h3>
      </div>
      <div class="panel-body">
        <ol>
         <li>top1</li>
         <li>top2</li>
         <li>top3</li>
         <li>top4</li>
         <li>top5</li>
        </ol>
      </div>
    </div>  
  </div>



{% endblock body_stuff %}


