
{% block navbar %}
         <!-- Start navbar -->

    <div class="row" id="navbar"> 
      <div class="col-xs-12">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation"><a href={% url "home" %} class="btn-success" >
            <span class="green">
              Deployment  
            </span>
          </a></li>
          <li role="presentation"><a href={% url "home" %}>Data Science</a></li>
          <li role="presentation"><a href={% url "home" %}>Databases</a></li>
          <li role="presentation"><a href={% url "home" %}>Tutorials</a></li>
          <li role="presentation"><a href={% url "home" %}>Testing</a></li>
          <li role="presentation"><a href={% url "home" %}>Game Development</a></li>
          <li role="presentation"><a href={% url "home" %}>Embedded Python</a></li>
          <li role="presentation"><a href={% url "home" %}>Database Access</a></li>
        </ul>
      </div>
    </div>
{% endblock navbar %}

